<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="diseño.css">
</head>
<body>
    <div class="formulario mx-auto col-9 mt-5">
        <h2 class="row">!Ingrese a la fila!</h2>
        <form id='form' name='form'>
            <div class="fila-1">
                <input type="text" id='rut' name='rut' placeholder="RUT" class="contenido"/>
                <input type="text" id='nombre' name='nombre' placeholder="Nombre Completo" class="contenido"/>
                <div>
                    <label>Me encuentro en alguna situacion de discapacidad</label>
                    <input type='checkbox' />
                </div>
            </div>
            <div class="fila-2">
                <input class="col-4" type="number" id='telefono' name='telefono' placeholder="Número de Teléfono" />
                <input class="col-4" type="number" id='edad' name='edad' placeholder="Edad" />
            </div>

            <input type="submit" name='submit' id='button' value='INGRESA A LA FILA' class="mt-5 row mx-auto" />
        </form>
    </div>
</body>
</html>